@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Roboto:wght@100&display=swap');
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
.bg-image {
    background-image: url("images/construct.jpg");
    filter: blur(4px);
    filter: blur(4px); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-text {
    font-size: 50px;
    color: rgb(48, 2, 48);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:2;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
  }